<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647829298953-8q5fqbifospr76qfgr6ms5us3bdeb9p1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647829298953-8q5fqbifospr76qfgr6ms5us3bdeb9p1</string>
	<key>API_KEY</key>
	<string>AIzaSyD3sjSYcOZlyiLfuCCdIICQPHRvqyb63bU</string>
	<key>GCM_SENDER_ID</key>
	<string>647829298953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firestoreCrud</string>
	<key>PROJECT_ID</key>
	<string>demodemo-f0668</string>
	<key>STORAGE_BUCKET</key>
	<string>demodemo-f0668.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647829298953:ios:3f81e173070a8e5a44fdd8</string>
</dict>
</plist>